h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Montserrat';
    font-weight: 700;
 }

p {
    color: #8f8f8f;
}
a{   color: #000;
    text-decoration: none;
    margin: 20px 10px;
}

body {
    font-family: 'Ubuntu' ;
    text-align: center;
}

/* Big Heading */

.big-heading{
    font-family: 'Ubuntu';  font-size: 3.5rem;  line-height: 1.5;  font-weight: 900;

}


#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;

}

.container-fluid {
    padding: 3% 15% 7%;
}
/* Navigation Bar */

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}


/* Download BTN */

.download-button {
    margin: 5% 3% 5% 0%;
}


/* Title Image */


.title-image {
    position: absolute;
    width: 23%;
    transform: rotate(25deg);
    right: 25%;
}


/* Feature Box */

#features { background-color: #fff;
    padding: 7% 15%;
    position: relative;
    
}

.feature-box {
    padding: 5%;
}


.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.feature-title{
    font-size: 1.5rem;
}

/* Testimonial */


#testimonials{
    
    background-color: #ef8172;
    color: #fff;
}

.tesimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testi-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing */


#pricing{
    padding: 100px;
}

.pricing-coloum{
    padding: 3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Section */

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA */

#cta{
    color: #fff;
    background-color: #ff4c68;
    padding: 7% 15%;
}

.cta-text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Footer */


#footer {
    padding: 7% 15%;
}


@media (max-width: 1028px) {

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}